# 本地数据库（已迁到 PostgreSQL）
db.sqlite3
database_design.sqlite
*.sqlite

# 虚拟环境、缓存
.venv/
__pycache__/
*.pyc

# .env
.env

# 之前提交过db的话
# git rm --cached db.sqlite3 database_design.sqlite
# git commit -m "chore: ignore local sqlite files"